In [2]:
import pandas as pd
df = pd.read_csv(r"producto.csv", sep=",", encoding="Latin-1")
#Eliminación de columnas no relevantes #inplace=True se usa dependiendo de si queremos hacer cambios al df original o no.
df.drop(['categoria1','categoria2','categoria3'], axis = 1, inplace=True)
df.head(5)

              id        marca                             nombre presentacion
0  0000000001663  LA ANÃNIMA    Radicheta Atada La Anonima 1 Un       1.0 un
1  0000000002288  LA ANÃNIMA      Perejil Atado La Anonima 1 Un       1.0 un
2  0000000205870    SIN MARCA                   Ojo de Bife 1 Kg       1.0 kg
3  0000000205894    SIN MARCA  Milanesa de Peceto Novillito 1 Kg       1.0 kg
4  0000000205955    SIN MARCA         Chiquizuela Novillito 1 Kg       1.0 kg

In [3]:
df.sample(100)

,id,marca,nombre,presentacion
48257,7794580000026,MOCOVI,Arroz Largo Ancho 00000 Mocovi 500 Gr,500.0 gr
53857,7798025516554,SMELL FRESH,Aromatizante Chocolate Smell Fresh 262 Ml,262.0 ml
22820,7790313001346,LA COLINA,Tomate Pelado Cubeteado La Colina 400 Gr,400.0 gr
52822,7798004430048,SHIM SHIM,Verdura Mixta para Sopa Shim Shim 400 Gr,400.0 gr
35211,7791337901216,YOGURÃSIMO,Yogur Entero Vainilla Yogurisimo 190 Gr,190.0 gr
...,...,...,...,...
59559,7798112168918,PATAGONIA CANDLES,Velas Cilindro 6 6 Citrus Patagonia Candles 1 Un,1.0 un
12576,5-1-0202089900000,SANCOR,Queso Cremosisimo Horma Sancor 1 Kg,1.0 kg
16575,7614500010310,TOBLERONE,Chocolate Blanco Toblerone 100 Gr,100.0 gr
34773,7791293689111,PATRICHS,Desodorante L Uomo 164 Ml,164.0 ml
35095,7791337303010,SER,Postre Vainilla Pote Ser 100 Gr 2 Un,2.0 un

In [4]:
#Verificación de datos faltantes
contador=df.isnull().sum()
contador

id              0
marca           2
nombre          2
presentacion    2
dtype: int64

In [5]:
#rellena los datos nulos, en base al valor de la siguiente fila.
df=df.fillna(method="bfill")

In [6]:
#Verificación de datos faltantes
contador=df.isnull().sum()
contador

id              0
marca           0
nombre          0
presentacion    0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.head()

              id        marca                             nombre presentacion
0  0000000001663  LA ANÃNIMA    Radicheta Atada La Anonima 1 Un       1.0 un
1  0000000002288  LA ANÃNIMA      Perejil Atado La Anonima 1 Un       1.0 un
2  0000000205870    SIN MARCA                   Ojo de Bife 1 Kg       1.0 kg
3  0000000205894    SIN MARCA  Milanesa de Peceto Novillito 1 Kg       1.0 kg
4  0000000205955    SIN MARCA         Chiquizuela Novillito 1 Kg       1.0 kg

In [10]:
df.to_csv('producto_ok.csv', index=False)