In [2]:
import pandas as pd
df = pd.read_csv(r"precios_semanas_20200426.csv", sep=",", encoding="Latin-1")

In [3]:
#rellena los datos nulos, en base al valor de la siguiente fila.
df=df.fillna(method="bfill")

In [4]:
df.isnull().sum()

precio         0
sucursal_id    0
producto_id    0
dtype: int64

In [5]:
df.head(5)

    precio sucursal_id  producto_id
0    399.0     2-1-092       2288.0
1    299.0     2-1-206       2288.0
2    399.0     2-2-241       2288.0
3  49999.0     9-1-430     205870.0
4  53999.0       9-2-4     205870.0

In [6]:
#remueve lo q encuentra
df['producto_id'] = df['producto_id'].astype('string').str.rstrip('.0')

In [7]:
#llena de full 0 hasta llegar a 13 digitos
df['producto_id'] = df['producto_id'].str.zfill(13)
df.head()

    precio sucursal_id    producto_id
0    399.0     2-1-092  0000000002288
1    299.0     2-1-206  0000000002288
2    399.0     2-2-241  0000000002288
3  49999.0     9-1-430  0000000020587
4  53999.0       9-2-4  0000000020587

In [8]:
#cambiamos de "." a ","
for i, elemento in enumerate(df['precio']):
   df['precio'][i] = str(df['precio'][i])
   #Transformaciones en los campos numéricos
for i, elemento in enumerate(df['precio']):
   elemento = elemento.replace('.', ',')
   df['precio'][i] = elemento

C:\Users\HP SUPPORT\AppData\Local\Temp\ipykernel_11384\219681451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precio'][i] = str(df['precio'][i])

In [57]:
df.sample(100)

         precio sucursal_id    producto_id
151617   2430,0    9-3-5277  0779038701431
417546   3620,0    10-2-176  0779809517025
26739    1630,0    10-1-112  4005900072757
248257   1560,0     2-3-248  7791290011953
88917    4099,0      7-1-37  7790040534506
...         ...         ...            ...
283057   3269,0      14-1-8  7791600844561
208893  13599,0   11-5-3603  0007790895001
223581   1278,0   11-5-1002  7790990586808
141761   2090,0    10-1-210  7790310981795
244811   1171,0       1-1-7  7791290008465

[100 rows x 3 columns]

In [10]:
df.to_csv('precios_semanas_20200426_ok.csv', index=False)