In [1]:
import pandas as pd
df = pd.read_csv(r"precios_semana_20200503.csv", sep=",", encoding="Latin-1")
df.head()

   precio    producto_id sucursal_id
0   29.90  0000000002288     2-1-187
1   39.90  0000000002288     2-3-247
2  499.99  0000000205870     9-1-685
3  539.99  0000000205870      9-2-22
4  519.99  0000000205870      9-2-59

In [2]:
#Verificación de datos faltantes
contador=df.isnull().sum()
contador

precio         2124
producto_id       0
sucursal_id       0
dtype: int64

In [3]:
#rellena los datos nulos, en base al valor de la siguiente fila.
df=df.fillna(method="bfill")

In [4]:
#Verificación de datos faltantes
contador=df.isnull().sum()
contador

precio         0
producto_id    0
sucursal_id    0
dtype: int64

In [5]:
#cambiamos de "." a ","
for i, elemento in enumerate(df['precio']):
   df['precio'][i] = str(df['precio'][i])
   #Transformaciones en los campos numéricos
for i, elemento in enumerate(df['precio']):
   elemento = elemento.replace('.', ',')
   df['precio'][i] = elemento

C:\Users\HP SUPPORT\AppData\Local\Temp\ipykernel_16960\219681451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precio'][i] = str(df['precio'][i])

In [6]:
df.head()

   precio    producto_id sucursal_id
0    29,9  0000000002288     2-1-187
1    39,9  0000000002288     2-3-247
2  499,99  0000000205870     9-1-685
3  539,99  0000000205870      9-2-22
4  519,99  0000000205870      9-2-59

In [7]:
df.to_csv('precios_semana_20200503_ok.csv', index=False)